
<app-nav-bar></app-nav-bar> <router-outlet></router-outlet>
<hr class="shadow-sm mx-3 mb-2 ">

  <!-- carousal -->
  <div class="row m-2  " >
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner rounded-2 shadow-sm">
        <div class="carousel-item active c-item">
          <img
            src="https://wallpapercave.com/wp/wp311455.jpg"
            class="d-block w-100 c-img"
            alt="..."
          />
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Performance +</h1>
              <p class="opacity-75">
                Ford automobiles are tailored to meet your needs.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" disabled >Sign up today</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item c-item">
          <img
            src="https://wallpapercave.com/wp/wp2002375.jpg"
            class="d-block w-100 c-img"
            alt="..."
          />
          <div class="container">
            <div class="carousel-caption">
              <h1>Shelby GT</h1>
              <p>
                The Shelby Mustang GT is more than Just a car - Its a legend.
              </p>
              <p><a class="btn btn-lg btn-primary" disabled  >Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item c-item">
          <img
            src="https://wallpapercave.com/wp/wp2418272.jpg"
            class="d-block w-100 c-img"
            alt="..."
          />
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Mustang GT500 CR</h1>
              <p>
                The muscular classic Mustang 🐎
              </p>
              <p>
                <a class="btn btn-lg btn-primary" disabled >Browse gallery</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
