
<div class="container d-flex justify-content-center my-1  ">
    <div class="div"><div class="btn btn-primary rounded-1 shadow-sm  " (click)="generateOrderPdf()">Generate Order Pdf</div></div>
</div>

<div class="div" id="invoice">
    <div class="container d-flex justify-content-center shadow-sm rounded-2 ">
        <div class="container  d-flex align-items-center   ">
            <div>
                <img src="assets/site_images/invoice/logo.jfif" class="rounded-4  p-2  " style="width: 120px" alt="">
            </div>
            <div class="div fw-bolder fs-4 mx-auto franklin">ORDER INVOICE</div>
            <div class="div"></div>
        </div>
        <div class="row"></div>
    </div>
</div>
