
<div class="container d-flex justify-content-center my-1  ">
    <div class="div"><div class="btn btn-primary rounded-1 shadow-sm  " (click)="generateOrderPdf()">Generate Order Pdf</div></div>
</div>

<div class="div rounded-2" id="invoice">
    <div class="container d-flex justify-content-center flex-column  shadow-sm rounded-2 ">
        <div class="container  d-flex align-items-center   ">
            <div>
                <img src="assets/site_images/invoice/logo.jfif" class="rounded-4  p-2  " style="width: 120px" alt="">
            </div>
            <div class="div fw-bolder fs-4 mx-auto franklin">ORDER INVOICE</div>
            <div class="div fw-bold  dateStyle me-3 ">{{currentDate}}</div>
        </div>
        <div class="container flex-column  d-flex justify-content-center h-100  align-items-center ">
            <table class="table rounded-2  ms-4 ">
                <thead>
                  <tr>
                    <th scope="col" class="font-monospace ">S.no</th>
                    <th scope="col" class="font-monospace ">Product</th>
                    <th scope="col" class="font-monospace ">Quantity</th>
                    <th scope="col" class="font-monospace ">Unit Price</th>
                    <th scope="col" class="font-monospace ">Total Price</th>
                  </tr>
                </thead>
                <tbody *ngFor="let data of orderItemDetails">
                    
                        <tr>
                            <th scope="row">1</th>
                            <td>{{data.product.name}}</td>
                            <td>{{data.orderItem.quantity}}</td>
                            <td>{{data.product.price | currency:"INR"}}</td>
                            <td>{{data.orderItem.totalPrice| currency:"INR"}}</td>
                        </tr>
                  
                </tbody>
            </table>
            <div class="container d-flex justify-content-between ">
                <span class="fw-bold ">Transaction Id: {{orderResponse.order.transactionId}}</span>
                <span class="fw-bold me-1 ">Grand Total:{{orderResponse.order.totalPrice| currency:"INR"}}</span></div>
            <div class="div my-2 "><img src="assets/site_images/invoice/payment_received.jpg" class="rounded-2 " style="width: 120px" alt=""></div>
        </div>
    </div>
</div>
