<div class="container   d-flex justify-content-center flex-column my-2 rounded-3 shadow-sm p-3 ">
    <span class="text-center franklin my-3 rounded-2 shadow-sm bg-body-tertiary "><strong>USER PROFILE</strong></span>
    <div class="container d-flex gap-3 profile my-2 ">
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control " id="floatingInputGrid" disabled placeholder="FirstName"
                    value="{{userProfile?.firstName}}">
                <label for="floatingInputGrid" class="fw-bold ">FirstName</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control " id="floatingInputGrid" disabled placeholder="LastName"
                    value="{{userProfile?.lastName}}">
                <label for="floatingInputGrid" class="fw-bold ">LastName</label>
            </div>
        </div>
    </div>
    <div class="container d-flex gap-3  my-2 profile ">
        <div class="col">
            <div class="form-floating">
                <input type="email" class="form-control " id="floatingInputGrid" disabled placeholder="Email"
                    value="{{userProfile?.email}}">
                <label for="floatingInputGrid" class="fw-bold ">Email</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="number" class="form-control " id="floatingInputGrid" disabled placeholder="MobileNo"
                    value="{{userProfile?.mobileNo}}">
                <label for="floatingInputGrid" class="fw-bold ">MobileNo</label>
            </div>
        </div>
    </div>
    <div class="container d-flex gap-3 my-2  profile ">
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control " id="floatingInputGrid" disabled placeholder="UserName"
                    value="{{userProfile?.username}}">
                <label for="floatingInputGrid" class="fw-bold ">UserName</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control " id="floatingInputGrid" disabled placeholder="Role"
                    value="{{userProfile?.role}}">
                <label for="floatingInputGrid" class="fw-bold">Role</label>
            </div>
        </div>
    </div>
    <div class="container-fluid  d-flex justify-content-center   gap-3 my-2 profile">
        <div class="row d-flex flex-column ">
            <header class="profile text-uppercase fw-bold text-center  rounded-2 shadow-sm  ">Order History</header>
            <div class="container d-flex justify-content-between border border-1 align-items-center  my-2 rounded-2 shadow-sm tableHead ">
                <span class="me-3 "><input type="text"  name="order" id="order" disabled class="form-control fw-bold  text-center shadow-sm   "
                        value="Order Date"></span>
                <span class="me-3">
                    <input type="text" name="order" id="order" disabled class="form-control fw-bold text-center  shadow-sm "
                        value="TransactionId">
                </span>
                <span class="me-3"><input type="text" name="order" id="order" disabled class="form-control fw-bold text-center shadow-sm  "
                    value="Order Status"></span>
                    <span class="p-3 "><input class="form-control  fw-bolder font-monospace rounded-2 shadow-sm border-0  text-center " disabled  value="Amount"></span>
            </div>
            <tbody class="tableBody shadow-sm  rounded-1 p-3 bg-body-tertiary  ">
                <tr *ngFor="let data of userOrders">
                    <div class="container d-flex justify-content-between border border-1 align-items-center  my-2 rounded-2 shadow-sm  ">
                        <span class="me-3 "><input type="text" name="order" id="order" disabled class="form-control fw-bold  text-center shadow-sm   "
                                value="{{data.orderDate}}"></span>
                        <span class="me-3">
                            <input type="text" name="order" id="order" disabled class="form-control fw-bold text-center  shadow-sm "
                                value="{{data.transactionId}}">
                        </span>
                        <span class="me-3"><input type="text" name="order" id="order" disabled class="form-control fw-bold text-center shadow-sm {{data.orderStatus=='Paid'? 'success ':' failure '}}  "
                            value="{{data.orderStatus}}"></span>
                        <span class="p-3 "><input disabled  class="form-control border border-1  fw-bolder font-monospace rounded-2 shadow-sm border-0 spanBtn text-center " value="{{data.totalPrice|currency:'INR'}}"></span>
                    </div>
                </tr>
            </tbody>
        </div>


    </div>
</div>